@font-face {
    font-family: 'Basis Grotesque Pro';
    src: url('fonts/BasisGrotesquePro-Bold.woff2') format('woff2'),
        url('fonts/BasisGrotesquePro-Bold.woff') format('woff'),
        url('fonts/BasisGrotesquePro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Basis Grotesque Pro';
    src: url('fonts/BasisGrotesquePro-BlackItalic.woff2') format('woff2'),
        url('fonts/BasisGrotesquePro-BlackItalic.woff') format('woff'),
        url('fonts/BasisGrotesquePro-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Basis Grotesque Pro';
    src: url('fonts/BasisGrotesquePro-BoldItalic.woff2') format('woff2'),
        url('fonts/BasisGrotesquePro-BoldItalic.woff') format('woff'),
        url('fonts/BasisGrotesquePro-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Basis Grotesque Pro';
    src: url('fonts/BasisGrotesquePro-Black.woff2') format('woff2'),
        url('fonts/BasisGrotesquePro-Black.woff') format('woff'),
        url('fonts/BasisGrotesquePro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Basis Grotesque Pro Mono';
    src: url('fonts/BasisGrotesquePro-MonoBoldItalic.woff2') format('woff2'),
        url('fonts/BasisGrotesquePro-MonoBoldItalic.woff') format('woff'),
        url('fonts/BasisGrotesquePro-MonoBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Basis Grotesque Pro';
    src: url('fonts/BasisGrotesquePro-BlackItalic_1.woff2') format('woff2'),
        url('fonts/BasisGrotesquePro-BlackItalic_1.woff') format('woff'),
        url('fonts/BasisGrotesquePro-BlackItalic_1.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Basis Grotesque Pro Mono';
    src: url('fonts/BasisGrotesquePro-MonoItalic.woff2') format('woff2'),
        url('fonts/BasisGrotesquePro-MonoItalic.woff') format('woff'),
        url('fonts/BasisGrotesquePro-MonoItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Basis Grotesque Pro';
    src: url('fonts/BasisGrotesquePro-Medium.woff2') format('woff2'),
        url('fonts/BasisGrotesquePro-Medium.woff') format('woff'),
        url('fonts/BasisGrotesquePro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Basis Grotesque Pro';
    src: url('fonts/BasisGrotesquePro-Black_1.woff2') format('woff2'),
        url('fonts/BasisGrotesquePro-Black_1.woff') format('woff'),
        url('fonts/BasisGrotesquePro-Black_1.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Basis Grotesque Pro Mono';
    src: url('fonts/BasisGrotesquePro-MonoBold.woff2') format('woff2'),
        url('fonts/BasisGrotesquePro-MonoBold.woff') format('woff'),
        url('fonts/BasisGrotesquePro-MonoBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Basis Grotesque Pro Off White';
    src: url('fonts/BasisGrotesquePro-OffWhiteItalic.woff2') format('woff2'),
        url('fonts/BasisGrotesquePro-OffWhiteItalic.woff') format('woff'),
        url('fonts/BasisGrotesquePro-OffWhiteItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Basis Grotesque Pro';
    src: url('fonts/BasisGrotesquePro-BoldItalic_1.woff2') format('woff2'),
        url('fonts/BasisGrotesquePro-BoldItalic_1.woff') format('woff'),
        url('fonts/BasisGrotesquePro-BoldItalic_1.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Basis Grotesque Pro Mono';
    src: url('fonts/BasisGrotesquePro-Mono.woff2') format('woff2'),
        url('fonts/BasisGrotesquePro-Mono.woff') format('woff'),
        url('fonts/BasisGrotesquePro-Mono.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Basis Grotesque Pro';
    src: url('fonts/BasisGrotesquePro-LightItalic.woff2') format('woff2'),
        url('fonts/BasisGrotesquePro-LightItalic.woff') format('woff'),
        url('fonts/BasisGrotesquePro-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Basis Grotesque Pro';
    src: url('fonts/BasisGrotesquePro-Italic.woff2') format('woff2'),
        url('fonts/BasisGrotesquePro-Italic.woff') format('woff'),
        url('fonts/BasisGrotesquePro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Basis Grotesque Pro';
    src: url('fonts/BasisGrotesquePro-Light.woff2') format('woff2'),
        url('fonts/BasisGrotesquePro-Light.woff') format('woff'),
        url('fonts/BasisGrotesquePro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Basis Grotesque Pro';
    src: url('fonts/BasisGrotesquePro-Bold_1.woff2') format('woff2'),
        url('fonts/BasisGrotesquePro-Bold_1.woff') format('woff'),
        url('fonts/BasisGrotesquePro-Bold_1.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Basis Grotesque Pro';
    src: url('fonts/BasisGrotesquePro-MediumItalic.woff2') format('woff2'),
        url('fonts/BasisGrotesquePro-MediumItalic.woff') format('woff'),
        url('fonts/BasisGrotesquePro-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Basis Grotesque Pro';
    src: url('fonts/BasisGrotesquePro-Light_1.woff2') format('woff2'),
        url('fonts/BasisGrotesquePro-Light_1.woff') format('woff'),
        url('fonts/BasisGrotesquePro-Light_1.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Basis Grotesque Pro Mono';
    src: url('fonts/BasisGrotesquePro-MonoBoldItalic_1.woff2') format('woff2'),
        url('fonts/BasisGrotesquePro-MonoBoldItalic_1.woff') format('woff'),
        url('fonts/BasisGrotesquePro-MonoBoldItalic_1.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Basis Grotesque Pro';
    src: url('fonts/BasisGrotesquePro-LightItalic_1.woff2') format('woff2'),
        url('fonts/BasisGrotesquePro-LightItalic_1.woff') format('woff'),
        url('fonts/BasisGrotesquePro-LightItalic_1.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Basis Grotesque Pro';
    src: url('fonts/BasisGrotesquePro-MediumItalic_1.woff2') format('woff2'),
        url('fonts/BasisGrotesquePro-MediumItalic_1.woff') format('woff'),
        url('fonts/BasisGrotesquePro-MediumItalic_1.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Basis Grotesque Pro Off White';
    src: url('fonts/BasisGrotesquePro-OffWhiteItalic_1.woff2') format('woff2'),
        url('fonts/BasisGrotesquePro-OffWhiteItalic_1.woff') format('woff'),
        url('fonts/BasisGrotesquePro-OffWhiteItalic_1.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Basis Grotesque Pro Mono';
    src: url('fonts/BasisGrotesquePro-Mono_1.woff2') format('woff2'),
        url('fonts/BasisGrotesquePro-Mono_1.woff') format('woff'),
        url('fonts/BasisGrotesquePro-Mono_1.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Basis Grotesque Pro Mono';
    src: url('fonts/BasisGrotesquePro-MonoItalic_1.woff2') format('woff2'),
        url('fonts/BasisGrotesquePro-MonoItalic_1.woff') format('woff'),
        url('fonts/BasisGrotesquePro-MonoItalic_1.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Basis Grotesque Pro';
    src: url('fonts/BasisGrotesquePro-Medium_1.woff2') format('woff2'),
        url('fonts/BasisGrotesquePro-Medium_1.woff') format('woff'),
        url('fonts/BasisGrotesquePro-Medium_1.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Basis Grotesque Pro Mono';
    src: url('fonts/BasisGrotesquePro-MonoBold_1.woff2') format('woff2'),
        url('fonts/BasisGrotesquePro-MonoBold_1.woff') format('woff'),
        url('fonts/BasisGrotesquePro-MonoBold_1.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Basis Grotesque Pro';
    src: url('fonts/BasisGrotesquePro-Italic_1.woff2') format('woff2'),
        url('fonts/BasisGrotesquePro-Italic_1.woff') format('woff'),
        url('fonts/BasisGrotesquePro-Italic_1.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

