header.banner {
	display: flex;
	flex-grow: 1;
	background: $brand-primary;
	.container-fluid {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		justify-content: center;
	}
	a {
		&:hover, &:focus {
			border: none;
		}
	}
}
.brand {
	display: block;
	margin-bottom: 40px;
	font-size: 34px;
	text-align: center;
	line-height: 1;
	color: $brand-secondary;
	text-transform: lowercase;
	& > span {
		font-size: 81px;
		font-weight: 500;
		font-family: 'Ogg';
		letter-spacing: 0;
	}
	&:hover, &:focus {
		color: #fff;
		outline: none;
	}
}

.menu-main-menu-container {
	.nav {
		text-align: center;
		& > li > a {
			padding: 6px;
			font-weight: 300;
			font-size: 18px;
			letter-spacing: 0.03em;
			font-family: $font-family-serif;
			color: rgb(244,231,211);
			&:hover, &:focus {
				color: #fff;
				background: none;
			}
		}
	}
}